{% extends './base.html' %}
{% block titulo %}
Sobre Nosotros
{% endblock %}
{% block contenido %}
<section style="background-color: #E0F7FA; padding: 50px 0;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <img src="static/maestros.jpg" alt="Profesores caricatura" class="img-fluid mb-4" style="border-radius: 50%; border: 5px solid #87CEEB;">
            </div>
            <div class="col-md-6">
                <h2 style="color: #1E90FF; font-size: 3rem; font-weight: bold;">¡Hola, Amigos!</h2>
                <p style="color: #4682B4; font-size: 1.5rem;">Somos los Profesores Gabi y Diego, apasionados por la educación y el aprendizaje.</p>
                <div class="card shadow-sm rounded bg-white mt-4">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #1E90FF;">Nuestra Misión</h3>
                        <p class="card-text" style="color: #4682B4;">Ayudar a todos los niños a descubrir y desarrollar sus talentos únicos a través de juegos y actividades creativas.</p>
                    </div>
                </div>
                <div class="card shadow-sm rounded bg-white mt-3">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #1E90FF;">Nuestro Proyecto</h3>
                        <p class="card-text" style="color: #4682B4;">Exploramos los Estilos de Aprendizaje e Inteligencias Múltiples para ofrecer una educación personalizada y efectiva.</p>
                    </div>
                </div>
                <div class="card shadow-sm rounded bg-white mt-3">
                    <div class="card-body">
                        <h3 class="card-title" style="color: #1E90FF;">Nuestro Compromiso</h3>
                        <p class="card-text" style="color: #4682B4;">Crear un ambiente colorido y seguro donde cada niño se sienta feliz y motivado para aprender cada día.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
